# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
hiking/react-hiking/node_modules
hiking/react-hiking/.pnp
hiking/react-hiking/.pnp.js

# testing
hiking/react-hiking/coverage

# production
hiking/react-hiking/build

# misc
hiking/react-hiking/.DS_Store
hiking/react-hiking/.env.local
hiking/react-hiking/.env.development.local
hiking/react-hiking/.env.test.local
hiking/react-hiking/.env.production.local

hiking/react-hiking/npm-debug.log*
hiking/react-hiking/yarn-debug.log*
hiking/react-hiking/yarn-error.log*

#config file, react
hiking/react-hiking/.env
#config file, python
hiking/backend-hiking/.env

#Flask
hiking/backend-hiking/env
hiking/backend-hiking/services/__pycache__
hiking/backend-hiking/views/__pycache__
hiking/backend-hiking/__pycache__
hiking/backend-hiking/data/__pycache__
hiking/backend-hiking/flask_session
hiking/backend-hiking/views/flask_session
hiking/backend-hiking/models/__pycache__
hiking/backend-hiking/__init__.py
hiking/backend-hiking/views/__init__.py
hiking/backend-hiking/services/__init__.py
hiking/backend-hiking/models/__init__.py
