.Body {
    box-sizing: border-box;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 1em;
    margin-bottom: 2em;
    border:darkgreen;
    background-color: #DDF7E3;
  }