/*  src/Title.css  */
.Title {
    box-sizing: border-box;
    /* position: fixed; */
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: baseline;
    padding: 1em;
    margin-bottom: 2em;
    background-color: rgb(113, 159, 59);
    color: #fff;
  }