.map-container {
    height: 400px;
    width: 400px;
    margin: 0 auto; /* Center the map horizontally */
  }

.loading-directions{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px; 
}